<footer>
    <div class="footer-content">
        <p>© 2022 DS Tours | Tour Guide</p>
        <div class="social-links">
            <a href="https://www.instagram.com/dstourslondon/?igsh=MTBweGRrcmtnNTVoZA%3D%3D#" aria-label="Instagram">Instagram</a>
            <a href="https://www.tripadvisor.com/Attraction_Review-g186338-d25150513-Reviews-DS_Tours-London_England.html" aria-label="TripAdvisor" target="_blank">TripAdvisor</a>
            <a href="mailto:dstourslondon@gmail.com" aria-label="Email">Email</a>
            <a href="https://wa.me/+447871882524" target="_blank" aria-label="WhatsApp">WhatsApp</a>
        </div>
    </div>
</footer>